html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(253, 191, 98);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
 
#board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}

h1 {
    font-size: 32pt;
    position: absolute;
    top: 0;
}

svg {
    width: 50%;
    height: 50%;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}