html, body {
    height: 100%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
 
#board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}

svg {
    width: 50%;
    height: 50%;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}